.header__bgr-img {
    background-image: url(../imgs/parallax-2.jpg);
    height: 873px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.header-navbar {
    background-color: rgba(0,0,0,0.12);
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header-left {
    display: flex;
}

.header__logo {
    align-self: center;
}

.header__logo-img {
    width: 160px;
}

.header_list {
    list-style: none;
    padding: 0;
}

.header_item {
    float: left;
    padding: 25px 20px;
    position: relative;
}

.header_item:first-child {
    padding-left: 50px;
}

.header_item:last-child a {
    background-color: #ba71da;
    border-radius: 30px;
    margin-left: 20px;
    padding: 10px 20px;
}

.header__link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header__navbar-icon {
    align-self: center;
    width: 25px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.6);
}

.header__sub-list {
    display: none;
    position: absolute;
    background: #fff;
    padding: 0;
    list-style-type: none;
    width: 200px;
    left: 0px;
    top: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.5);
}

.header_item:hover .header__sub-list {
    display: block;
}

.header__sub-item {
    padding: 15px 25px;
    border-bottom: 1px solid rgba(154, 154, 154, 0.2);
}

.header__sub-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__sub-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__sub-item:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.header__sub-link {
    color: #9a9a9a;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
}

.header__content {
    position: absolute;
    top: 270px;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    color: #fff;
}

.header__content-title {
    font-size: 50px;
    font-weight: 800;
}

.header__content-title u {
    text-decoration: none;
    position: relative;
    z-index: 10;
}

.header__content-title u::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #ba71da;
    top: 80%;
    left: 0;
    z-index: -1;
}

.header__content-description {
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: normal;
}

.header__content-select-destination {
    position: relative;
    width: 370px;
    height: 40px;
    margin: 0 auto 55px auto;
    cursor: pointer;
}

#destinations-list {
    background-color: #fff;
    color: #9a9a9a;
    width: 100%;
    padding: 0 30px;
    line-height: 40px;
    border-radius: 30px;
    -webkit-appearance: none;
    outline: none;
    border: none;
}

.header__content-select-destination-btn {
    position: absolute;
    color: #9a9a9a;
    font-size: 25px;
    right: 5%;
    top: 15%;
    cursor: pointer;
}

.header__content-travel-type {
    display: flex;
    width: 500px;
    margin: auto;
    justify-content: space-between;
}

.travel-type-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.12);
    padding: 20px;
    width: 100px;
    height: 100px;
    align-self: center;
    font-size: 18px;
    cursor: pointer;
}

.travel-type-content-icon {
    margin: 10px;
    font-size: 28px;
}

/* Container */
.container {
    margin-top: 60px;
    height: 200px;
}

.travel-section {
    position: relative;
    /* width: inherit;
    height: 400px; */
}

.travel-section__img {
    /* width: inherit;
    position: absolute;
    object-fit: cover; */
    height: 400px;
}

.europe .travel-section__img {
    background: linear-gradient(
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0.1)
    ), url("../imgs/euro.jpg");
    background-size: cover;
}

.thailand .travel-section__img {
    background: linear-gradient(
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0.1)
    ), url("../imgs/thailand.jpg");
    background-size: cover;
}

.italy .travel-section__img {
    background: linear-gradient(
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0.1)
    ), url("../imgs/italia.jpg");
    background-size: cover;
}

.asia .travel-section__img {
    background: linear-gradient(
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0.1)
    ), url("../imgs/asia.jpg");
    background-size: cover;
}

.netherlands .travel-section__img {
    background: linear-gradient(
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0.1)
    ), url("../imgs/netherlands.jpg");
    background-size: cover;
}

.us .travel-section__img {
    background: linear-gradient(
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0.1)
    ), url("../imgs/us.jpg");
    background-size: cover;
}

.travel-section__icon {
    position: absolute;
    width: 36px;
    top: 5%;
    left: 10%;

}

.travel-info {
    position: absolute;
    left: 10%;
    bottom: 15px;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}

.travel-info h3 {
    margin: 10px 0;
    font-size: 20px;
}

.travel-info h6 {
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.travel-options {
    background: #14b9d5;
    position: absolute;
    padding: 30px;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: none;
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to { 
        opacity: 1; 
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    } to { opacity: 0}
}

.travel-section:hover .travel-options {
    display: flex;
    animation: fadeIn 0.8s linear;
}

.travel-section:hover .img-decor {
    animation: fadeOut 0.8s linear;
}

.travel-options__places {
    margin: auto;
    vertical-align: middle;
}

.travel-options__places h3 {
    font-size: 20px;
}

.travel-options__places a {
    display: inline-block;
    text-decoration: none;
}

.travel-options__link {
    color: #fff;
    padding: 5px 0;
}

.travel-options__btn {
    margin-top: 20px;
    text-transform: uppercase;
    background-color: #fff;
    color: #14b9d5;
    padding: 8px 20px;
    border-radius: 30px;
}

.proposals__footer {
    margin: 60px auto 0 auto;
    height: 235px;
    background-image: url("../imgs/parallax-search-2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.proposals__footer h6 {
    margin: 0;
}

.first-font {
    font-size: 45px;
    font-weight: bold;
}

.second-font {
    font-size: 50px;
}

.second-font u {
    position: relative;
    text-decoration: none;
    z-index: 2;
}

.second-font u::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 11px;
    z-index: -9;
    background: #f76570;
}

.proposals__footer-btn {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f76570;
    padding: 15px 35px;
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

/* Destination info */

.info-destination {
    margin-top: 80px;
}

.destination-content {
    display: flex;
    justify-content: space-between;
}

.destination-content__description {
    padding-right: 35px;
}

.destination-content__name {
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.destination-content__text {
    color: #555555;
    font-size: 36px;
    margin: 15px 0 30px 0;
}

.destination-content__text u {
    text-decoration: none;
    position: relative;
    z-index: 2;
}

.destination-content__text u::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #1bbc9b;
    top: 70%;
    left: 0;
    z-index: -1;
}

.destination-content__para {
    color: #9a9a9a;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 1px;
    margin: 0;
    padding-right: 30px;
}

.destination-content__price {
    margin: 30px 0;
    font-size: 14px;
    letter-spacing: 1px;
    color: #555555;
}

.destination-content__price > span {
    font-size: 30px;
}

.destination-content__price > span > u {
    color: #dadada;
    text-decoration: line-through;
}

.destination-content__btn {
    text-decoration: none;
    color: #fff;
    padding: 15px 35px;
    letter-spacing: 2px;
    border-radius: 30px;
    font-size: 14px;
    background-color: #1bbc9b;
}

.destination-content__img-content {
    height: 410px;
    flex-basis: 750px; /* Thay cho width o tren */
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
}

.destination-content__img {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.destination-content__img-countdown {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 115px;
    background-color: #14b9d5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.destination-content__img-countdown-time {
    list-style-type: none;
    align-self: center;
    text-align: center;
    color: #fff;
    position: relative;
}

.destination-content__img-countdown-time:nth-child(1)::after {
    position: absolute;
    content: "/";
    top: 0px;
    right: -40px;
    font-size: 60px;
    color: #000;
    opacity: 0.1;
    font-weight: 100;
    z-index: 9;
    line-height: 60px;
}

.destination-content__img-countdown-time:nth-child(2)::after {
    position: absolute;
    content: "/";
    top: 0px;
    right: -40px;
    font-size: 60px;
    color: #000;
    opacity: 0.1;
    font-weight: 100;
    z-index: 9;
    line-height: 60px;
}

.destination-content__img-countdown-time:nth-child(3)::after {
    position: absolute;
    content: "/";
    top: 0px;
    right: -40px;
    font-size: 60px;
    color: #000;
    opacity: 0.1;
    font-weight: 100;
    z-index: 9;
    line-height: 60px;
}

.destination-content__img-countdown-time .number {
    font-size: 35px;
}

.destination-content__img-countdown-time .text {
    font-size: 14px;
}

.info-destination__gap {
    height: 100px;
}

.destination-column {
    margin-top: 30px;
}

.destination-column__container {
    display: flex;
}

.destination-column__icon {
    height: 50px;
    flex-basis: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 20px;
}

.destination-column__text-heading {
    color: #555555;
    margin: 0;
    font-size: 24px;
    letter-spacing: 1px;
}

.destination-column__text-description {
    font-size: 14px;
    line-height: 24px;
    color: #9a9a9a;
    letter-spacing: 1px;
}

.destination-column__text-link {
    font-size: 14px;
    color: #1bbc9b;
    text-decoration: none;
}

.info-destination__footer {
    margin-top: 65px;
}

.info-destination__footer-left, .info-destination__footer-right {
    height: 270px;
}

.info-destination__footer-left {
    background-image: url("../imgs/parallax-5-filter.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info-destination__footer-right {
    background-image: url("../imgs/parallax-6-filter.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info-destination__footer-content {
    height: 100%;
    text-align: center;
    padding: 60px 0;
    color: #fff;
}

.info-destination__footer-title {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: normal;
    margin: 0 0 20px 0;
}

.info-destination__footer-text {
    font-size: 36px;
    letter-spacing: 2px;
    margin: 0;
}

.info-destination__footer-btn {
    margin: 40px auto 0 auto;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 38px;
    letter-spacing: 2px;
    background-color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}

.info-destination__footer-left .info-destination__footer-btn {
    color: #f3a46b;
}

.info-destination__footer-right .info-destination__footer-btn {
    color: #1bbc9b;
}

/* Promotion */
.promotions {
    margin: 60px 0 75px 0;
}

.package-img-section {
    position: relative;
}

.package__img {
    width: 100%;
    padding: 0;
}

.package__icon-link {
    position: absolute;
    /* background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%); */
    border-radius: 100%;
    width: 50px;
    height: 50px;
    right: 5%;
    bottom: -7%;
}

.package__icon-img {
    position: absolute;
    width: 25px;
    left: 12px;
    top: 12px;
}

.package-content {
    padding: 30px;
}

.package__name {
    font-size: 20px;
    color: #555555;
    margin: 0;
}

.package__location {
    margin: 10px 0 0 0;
    color: #9a9a9a;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
}

.package__description {
    margin: 20px 0;
}

.package__description-detail {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(85, 85, 85, 0.2);
    border-bottom: 1px solid rgb(85, 85, 85, 0.2);
}

.package__description-detail__properties {
    font-size: 16px;
    color: #555555;
    line-height: 25px;
    text-transform: uppercase;
}

.package__description-detail__properties u {
    position: relative;
    margin-left: 5px;
    padding: 0 10px;
    color: #fff;
    font-size: 10px;
    letter-spacing: 5px;
    text-decoration: none;
    border-radius: 50px;
}

.package__description-detail__properties--hover {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #555555;
    letter-spacing: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 10px 12px;
    display: none;
    text-transform: none;
}

.package__description-detail__properties--hover:before {
    content: "";
    position: absolute;
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent #555555 transparent;
    top: -15px;
    left: 5px;
}

.package__description-detail__properties u:hover .package__description-detail__properties--hover {
    display: block;
}

.package__description-detail__price {
    color: #555555;
    font-size: 35px;
    line-height: 35px;
    margin: 0;
    align-self: center;
}

.package__description-text {
    font-size: 16px;
    line-height: 24px;
    color: #9a9a9a;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.package__gap {
    height: 10px;
}

.package__link {
    text-decoration: none;
    padding: 5px 25px;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    font-weight: normal;
}

/* Footer */
.footer {
    height: 600px;
    background-image: url('../imgs/parallax-7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer__contact {
    height: 200px;
    align-items: center;
}

.contact__text {
    padding-left: 300px;
    text-align: start;
}

.contact__text p {
    color: #9a9a9a;
    letter-spacing: 1px;
    margin: 20px 0 0 0;
}

.contact__text h3 {
    font-size: 36px;
    color: #555555;
    margin: 0;
}

.contact__form {
    text-align: start;
}

.contact__form-input,
.contact__form-btn {
    padding: 15px 30px;
    border-radius: 38px;
    outline: none;
    border: none;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.contact__form-input {
    margin-right: 20px;
    background-color: #f9f9f9;
}

.contact__form-btn {
    color: #fff;
    background-color: #14b9d5;
    cursor: pointer;
}

.footer__content {
    background-color: #fff;
    padding: 35px 30px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.footer__logo {
    width: 150px;
}

.footer__content__description {
    padding: 0 25px 0 15px;
}

.footer__content__text {
    margin: 25px 0;
    color: #9a9a9a;;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 24px;
}

.footer__medias i{
    font-size: 30px;
    padding-right: 15px;
}

.footer__list {
    margin: 0;
    list-style: none;
}

.footer__list h3 {
    margin: 0 0 35px 0;
    color: #555555;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

.footer__list li {
    line-height: 27px;
    color: #9a9a9a;
}

.footer__list li i {
    font-size: 10px;
    padding-right: 10px;
}

.footer__copyright {
    background-color: #14b9d5;
    padding: 15px 20px;
    text-align: end;
    color: #fff;
    font-size: 16px;
}

