/* Both mobile and tablet */
@media (max-width: 1023px) {
    .header_list {
        display: none;
    }

    .header__content-travel-type {
        flex-direction: column;
    }

    .travel-type-content {
        width: 80%;
        margin-bottom: 10px;
    }

    .proposals__footer {
        flex-direction: column;
    }

    .destination-content {
        flex-direction: column;
    }

    .destination-content__description {
        padding: 0;
    }

    .destination-content__img-content {
        margin-top: 50px;
        height: auto;
        flex-basis: 0;
    }

    .footer {
        height: auto;
        padding: 30px 0;
    }

    .footer__contact {
        justify-content: center;
    }
    
    .contact__text {
        padding-left: 0;
        text-align: center;
    }

    .footer__content,
    .footer__copyright {
        width: 400px;
        margin: auto;
    }

    .contact__form {
        text-align: center;
    }

    .footer__content__description {
        padding: 0;
    }

    .footer__list h3 {
        margin: 30px 0 10px 0;
    }
}

/* Tablet only */
@media (min-width: 740px) and (max-width: 1023px) {
    .header__content {
        padding: 20px;
        top: 100px;
    }

    .travel-section {
        display: flex;
        margin: auto;
        width: 500px;
    }

    .travel-section__img {
        flex: 1;
        height: 500px;
    }

    .destination-content {
        width: 450px;
        margin: auto
    }
    
    .destination-column {
        width: 450px;
        margin: auto;
    }
}

/* Mobile only */
@media (max-width: 740px) {
    .padding15 {
        padding: 15px 0;
    }

    .header__content {
        padding: 0px;
        top: 80px;
    }

    .header__content-travel-type {
        width: 400px;
    }

    .travel-section {
        display: flex;
        margin: auto;
        width: 400px;
    }

    .travel-section__img {
        flex: 1;
        height: 400px;
    }

    .destination-content {
        width: 400px;
        margin: auto
    }

    .destination-column {
        width: 400px;
        margin: auto;
    }

    .destination-content__img-countdown {
        width: 350px;
    }

    .destination-content__img-countdown-time:nth-child(1)::after,
    .destination-content__img-countdown-time:nth-child(2)::after,
    .destination-content__img-countdown-time:nth-child(3)::after {
        right: -30px;
    }

    .info-destination__gap {
        height: 20px;
    }

    .mobile-padding-left-right-20 {
        padding: 20px
    }

    
}